/* timebox */
.timebox {
  background: #d8d8d8;

  border-radius: 18px;

  padding: 18px;

  margin-bottom: 24px;
}

.timebox-title {
  font-size: 18px;
  font-weight: 700;

  color: white;

  margin-bottom: 12px;
}

.task-item {
  display: flex;

  border-radius: 18px;

  overflow: hidden;

  background: white;

  margin-bottom: 14px;

  min-height: 120px;
}

.task-content {
  flex: 1;

  padding: 12px 14px;

  display: flex;
  flex-direction: column;
}

.task-title {
  font-size: 18px;
  font-weight: 700;

  color: #222;

  margin-bottom: 8px;
}

.task-desc {
  font-size: 14px;

  color: #444;

  line-height: 1;

  margin-bottom: 4px;
}

.task-status {
  margin-top: auto;

  align-self: flex-end;

  padding: 6px 14px;

  border-radius: 999px;

  font-size: 12px;
  font-weight: 600;
}

.task-status.Pending {
  background: #a2d5ff;
  color: white;
}

.task-status.Delayed {
  background: #F4B183;
  color: white;
}

.task-status.Done {
  background: #6feca1;
  color: white;
}

.done-btn {
  width: 10%;

  border: none;

  background: var(--button-color-enable);

  color: white;

  font-weight: 900;

  cursor: pointer;

  writing-mode: vertical-rl;

  text-orientation: mixed;

  letter-spacing: 2px;

  transition: background 0.2s ease;
}