/* header 固定 10% */
.header {
  height: 10%;
  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 10px rgba(0,0,0,0.15);

  z-index: 2;
}

.header h1 {
    color: #333;
}

/* content */
.content {
  flex: 1;
  overflow-y: auto;
  background: #f5f5f5;
}

.list {
  padding: 20px;
}

.item {
  height: 80px;
  margin-bottom: 12px;

  background: white;
  border-radius: 12px;

  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;

  height: 70px;
  background: var(--button-color-enable);
  
  transition:
    width 0.3s ease,
    height 0.3s ease,
    background 0.3s ease;

  overflow: hidden;

  z-index: 100;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
}

/* 展开后 */
.footer.open {
  width: 100%;
  height: 360px;

  left: 0;
  bottom: 0;

  transform: none;

  background: white;
}

.plus-area {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  color: white;

  cursor: pointer;

  transition: opacity 0.2s ease;
}

/* 展开后隐藏 */
.footer.open .plus-area {
  opacity: 0;
  pointer-events: none;
}

/* 拖拽条 */
.drag-bar {
  position: absolute;

  top: 12px;
  left: 50%;

  transform: translateX(-50%);

  width: 48px;
  height: 6px;

  border-radius: 999px;

  background: #ccc;

  opacity: 0;

  transition: opacity 0.3s ease;
}

/* 展开后显示 */
.footer.open .drag-bar {
  opacity: 1;
}

/* 内容 */
.footer-content {
  padding: 40px 24px 24px;

  opacity: 0;

  transition: opacity 0.25s ease;
}

.footer.open .footer-content {
  opacity: 1;
}